.appWrapper {
  display: flex;
  height: 100vh;
  min-width: 0;
}

/* .sidebar {
  width: 190px;
  flex-shrink: 0;
  background-color: var(--primary-color);
  color: white;
} */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

/* .header {
  height: 60px;
  flex-shrink: 0;
  background-color: white;
} */

.content {
  flex: 1;
  overflow: auto;
  background-color: var(--light-gray);
  padding: 24px;
}
