.checkbox_wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
}

.checkbox_container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
}

input.checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid var(--bttn-border-gray);
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

input.checkbox:checked {
  background-color: var(--green);
  border-color: var(--green);
}

.checkbox_icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.2s ease;
  color: white;
}

.checkbox_icon svg {
  width: 12px;
  height: 12px;
}

input.checkbox:checked ~ .checkbox_icon {
  opacity: 1;
  transform: scale(1);
}

.label {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #262424;
  white-space: nowrap;
}
