.main_menu {
  position: relative;
  width: 190px;
  flex-shrink: 0;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}
.main_menu.dark {
  background-color: var(--dark-gray) !important;
  border-right: 2px solid var(--bttn-border-gray);
  /* background-color: black !important; */
}

.app_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: calc(84.5px);
  position: relative;
}
.title_text {
  font-family: var(--ff);
  font-weight: 700;
  font-style: normal;
  font-size: 23px;
  line-height: 125%; /* or 1.25 */
  /* letter-spacing: -0.29px; */
}

.top_menu_border {
  position: absolute;
  width: 158px;
  /* top: 84.5px; */
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  background-color: var(--text-gray);
  height: 1px;

  /* margin: 10px auto; */
}
.menu_items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  /* margin-top: 20px; */
}

.menu_items_end {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: auto;
}
