.top_section {
  width: 100%;
  height: 40px;
  max-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background: transparent;
}

.title {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
}

.right_section {
  flex-shrink: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
}
.calendar_icon_wrapper {
  width: 56px;
  max-width: 56px;
  /* height: 40px; */
  height: 100%;
  max-height: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #ffffff;
}
