.header {
  width: 100%;
  max-width: 100%;
  height: 63px;
  max-height: 63px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 40px;
  position: relative;
}
.header.mobile {
  height: 60px;
  max-height: 60px;
  justify-content: flex-end;
  padding: 10px 14px;
}
.header.mobile :first-child {
  margin-right: auto;
}

.bell_icon {
  margin: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--icon-gray);
  width: 20px;
  height: 20px; */
}
.bell_icon.mobile {
  margin: 0;
}

.arrow_down_icon {
  /* margin-left: 8px; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-gray-1);
  width: 16px;
  height: 16px;
}

/* .arrow_down_icon path {
  width: 16px !important;
  height: 16px !important;
} */

/* User */
.user_info {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* margin: auto 36px auto 12px; */
  margin-left: 12px;
  margin-right: 36px;
  /* justify-content: flex-start; */
  /* gap: 12px; */
  /* height: 100%; */
}

.user_name,
.user_role {
  font-style: normal;
  font-family: "Urbanist", sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 160%;
}
.user_name {
  font-weight: 700;
  /* height: 19px; */
}

.user_role {
  font-weight: 400;
  color: var(--icon-gray);
}

.burger_bttn_icon {
  /* position: absolute;
  left: 8px;
  top: 8px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.burger_bttn_icon svg {
  width: 24px;
  height: 24px;
}
