.default_bttn {
  border-radius: var(--b-rad);
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_bttn {
  width: 27px;
  height: 27px;
  /* top: 28px;
  left: 27px; */
  /* angle: 0 deg; */
  /* opacity: 1; */
  /* border-radius: var(--b-rad); */
  background: var(--orange);
  color: black;
  border: none;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.main_menu_bttn {
  /* width: 158; */
  width: 100%;
  /* height: 42; */
  /* top: 300px; */
  /* opacity: 1; */
  border-radius: var(--b-rad);
  padding: 10px 16px;
  gap: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  color: var(--text-gray);
  background: transparent;
  outline: none;
  border: none;
}

.main_menu_bttn.active {
  background-color: var(--orange);
}

.label_text {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.2px;
}

/* Primary Bttn */
.bttn_common {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0px;
  border-radius: 4px !important;
  padding: 7px 14px;
  white-space: nowrap;
}

/* Variants */
.primary_bttn {
  max-height: 33px;
  border-radius: 4px;
  /* padding: 7px 14px; */
  gap: 6px;
  background-color: var(--green);
  border: 1px solid var(--green);
  color: white; /* Todo: solve with gradient */
  /* #ECE9E6, #FFFFFF, gradient*/
}

.secondary_bttn {
  border: 1px solid var(--green);
  color: var(--green);
  font-family: "Urbanist", sans-serif;
  background-color: white;
  /* padding: 7px 14px; */
}

.ghost_bttn {
  border: 1px solid var(--bttn-border-gray);
}

.only_icon {
  /* display: flex; */
  padding: 0 !important;
}
.only_icon:hover svg {
  fill: var(--green);
}
.with_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  overflow: hidden;
}
