.section_header_title {
  /* width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; */
  font-family: var(--ff);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
}
