.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.full_height {
  height: 100%;
}

.spinner {
  animation: spin 1s linear infinite;
  color: var(--dark-gray);
}

.sm {
  width: 1rem;
  height: 1rem;
}

.md {
  width: 2rem;
  height: 2rem;
}

.lg {
  width: 3rem;
  height: 3rem;
}

.text {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #6b7280; /* gray-500 */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
