.badge {
  /* width: 83;
  height: 24; */
  padding: 4px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 100px;
}
.label {
  font-family: var(--ff);
  font-weight: 500;
  font-size: 10px;
  line-height: 160%;
  letter-spacing: 0px;
  color: #262424;
}
.pointer_status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  /* background-color: var(--white); */
  /* border: 2px solid currentColor; */
  /* margin-left: 6px; */
}
.pointer_status.success {
  background-color: var(--green);
}
.pointer_status.warning {
  background-color: var(--orange);
}
.pointer_status.error {
  background-color: var(--red);
}

.success {
  background-color: var(--light-green);
  /* color: var(--green); */
}
.warning {
  background-color: var(--light-orange);
  /* color: var(--orange); */
}
.error {
  background-color: var(--light-red);
  /* color: var(--red); */
}
