.badge {
  /* width: 83;
  height: 24; */
  padding: 4px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 100px;
}
.label {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 160%;
  letter-spacing: 0px;
}

.success {
  background-color: var(--light-green);
  color: var(--green);
}
.warning {
  background-color: var(--light-orange);
  color: var(--orange);
}
.danger {
  background-color: var(--light-red);
  color: var(--red);
}
